################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CompilerApp/bin
/.vs
/CompilerApp/obj
